POSTGRES_DB=nekogames
POSTGRES_USER=nekogames
POSTGRES_PASSWORD=change_me
DATABASE_URL=postgresql://nekogames:change_me@db:5432/nekogames

TELEGRAM_BOT_TOKEN=change_me
WEBAPP_URL=https://utwoa.online
INITDATA_MAX_AGE=86400
